<h4>Confirm registration</h4>
<hr>
<p>Please enter the confirmation code that has been sent to your email.</p>
<form [formGroup]="confirmForm" (ngSubmit)="onSubmit()">
  <input type="text" [formControl]="confirmForm.controls['confCode']" [class.is-invalid-input]="!confCode.valid && confCode.touched" required>
  <div class="form-error" [ngClass]="{'is-visible': !confCode.valid && confCode.touched}" *ngIf="confCode.errors">
    <p *ngIf="confCode.errors.required">Confirmation code is required</p>
  </div>
  <button class="button" type="submit" value="Submit" [disabled]="!confirmForm.valid">{{mode === 'sign up' ? 'Sign Up' : 'Login'}}</button>
</form>
