<h4 *ngIf="mode === 'log in'">Login Form</h4>
<h4 *ngIf="mode === 'sign up'">Sign Up Form</h4>
<hr>
<div class="callout alert" *ngIf="error" data-closable>
  {{error.message}}
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div *ngIf="mode === 'sign up'">
    <div class="row">
      <div class="small-6 columns">
        <label for="authFormName" [class.is-invalid-label]="!name.valid && name.touched">Name</label>
        <input id="authFormName" type="text" name="name"
               [formControl]="loginForm.controls['name']" [class.is-invalid-input]="!name.valid && name.touched" />
        <div class="form-error" [ngClass]="{'is-visible': !name.valid && name.touched}" *ngIf="name.errors">
          <p *ngIf="name.errors.signUpRequired">Name is required</p>
        </div>
      </div>
      <div class="small-6 columns">
        <label for="authFormEmail" [class.is-invalid-label]="!email.valid && email.touched">Email</label>
        <input id="authFormEmail" type="email" name="email" placeholder="Email"
               [formControl]="loginForm.controls['email']" [class.is-invalid-input]="!email.valid && email.touched" />
        <div class="form-error" [ngClass]="{'is-visible': !email.valid && email.touched}" *ngIf="email.errors">
          <p *ngIf="email.errors.signUpRequired">Email is required</p>
          <p *ngIf="!email.errors.valid">This is not a valid email</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <label for="authFormUsername" [class.is-invalid-label]="!username.valid && username.touched">Username</label>
      <input id="authFormUsername" type="text" name="username"
             [formControl]="loginForm.controls['username']" [class.is-invalid-input]="!username.value && username.touched" required />
      <div class="form-error" [ngClass]="{'is-visible': !username.valid && username.touched}" *ngIf="username.errors">
        <p *ngIf="username.errors.required">Username is required</p>
      </div>
    </div>
    <div class="small-12 columns">
      <label for="authFormPassword" [class.is-invalid-label]="!password.valid && password.touched">Password</label>
      <input id="authFormPassword" type="password" name="password"
             [formControl]="loginForm.controls['password']" [class.is-invalid-input]="!password.valid && password.touched" required />
      <div class="form-error" [ngClass]="{'is-visible': !password.valid && password.touched}" *ngIf="password.errors">
        <p *ngIf="password.errors.required">Password is required</p>
        <p *ngIf="password.errors.passwordTooShort">Password must be 8 characters or more</p>
        <p *ngIf="password.errors.passwordNoNumber">Password must have at least one number</p>
        <p *ngIf="password.errors.passwordNoLowercase">Password must have at least one lowercase letter</p>
        <p *ngIf="password.errors.passwordNoUppercase">Password must have at least one uppercase letter</p>
        <p *ngIf="password.errors.passwordNoSpecial">Password must have at least one special character</p>
      </div>
    </div>
    <div *ngIf="mode === 'sign up'">
      <div class="small-12 columns">
        <label for="authFormPasswordCheck" [class.is-invalid-label]="!passwordCheck.valid && passwordCheck.touched">Confirm Password</label>
        <input id="authFormPasswordCheck" type="password" name="passwordConfirm"
               [formControl]="loginForm.controls['passwordCheck']" [class.is-invalid-input]="!passwordCheck.valid && passwordCheck.touched" />
        <div class="form-error" [ngClass]="{'is-visible': !passwordCheck.valid && passwordCheck.touched}" *ngIf="passwordCheck.errors">
          <p *ngIf="passwordCheck.errors.signUpRequired">Password check is required</p>
          <p *ngIf="passwordCheck.errors.mismatchedPasswords">Password check must match</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <button class="button" type="submit" value="Submit" [disabled]="!loginForm.valid">{{mode === 'sign up' ? 'Sign Up' : 'Login'}}</button>
  </div>
</form>
<button class="close-button" data-close aria-label="Close modal" type="button" *ngIf="userService.isUnauthenticated()">
  <span aria-hidden="true">&times;</span>
</button>
